---
- name: "Assuring {{ tmp_dir }} dir"
  file: 
    path: "{{ tmp_dir }}"
    state: directory

- name: "Downloading python3.7"
  get_url:
    url: "https://www.python.org/ftp/python/{{ py_version }}/Python-{{ py_version }}.tar.xz"
    dest: "{{ tmp_dir }}/"
    mode: '0775'
  register: downloaded_py
  when: server or ansible_facts['distribution'] == "Fedora"

- name: "Downloading git"
  get_url:
    url: "https://github.com/git/git/archive/v{{ git_version }}.tar.gz"
    dest: "{{ tmp_dir }}/"
    mode: '0775'
  register: downloaded_git
  when: server

- name: "Downloading gcc"
  get_url:
    url: "https://bigsearcher.com/mirrors/gcc/releases/gcc-{{ gcc_version }}/gcc-{{ gcc_version }}.tar.xz"
    dest: "{{ tmp_dir }}/"
    mode: '0775'
  register: downloaded_gcc
  when: server

- name: "Downloading bazel"
  get_url:
    url: "https://github.com/bazelbuild/bazel/releases/download/{{ bzl_version }}/bazel-{{ bzl_version }}-installer-linux-x86_64.sh"
    dest: "{{ tmp_dir }}/"
    mode: '0775'
  register: downloaded_bazel
  when: server

